*.ipynb_checkpoints/
*.bbl
*.blg
*.aux
*.bak
*.log
*.synctex.gz
*.snm
*.toc
*.nav
*.out
*.DS_Store
*.fls
*.fdb_latexmk
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
xcode/
G4History.macro
PRISM
*.bin
./08-monte-carlo/fig/atr-model.png
./08-monte-carlo/fig/board.jpg
./08-monte-carlo/fig/boundary-xing.png
./08-monte-carlo/fig/cco-beam.png
./08-monte-carlo/fig/collision.png
./08-monte-carlo/fig/cont-cdf-on-pdf-grey.png
./08-monte-carlo/fig/cont-cdf-on-pdf.png
./08-monte-carlo/fig/cont-pdf-cdf-2.png
./08-monte-carlo/fig/cont-pdf-cdf-3.png
./08-monte-carlo/fig/cont-pdf-cdf.png
./08-monte-carlo/fig/cont-pdf.png
./08-monte-carlo/fig/disc-cdf.png
./08-monte-carlo/fig/disc-pdf-cdf.png
./08-monte-carlo/fig/disc-pdf-samp.png
./08-monte-carlo/fig/disc-pdf.png
./08-monte-carlo/fig/laplace.jpg
./08-monte-carlo/fig/MC-algorithm.png
./08-monte-carlo/fig/OppieNeumannMANIAC.jpg
./08-monte-carlo/fig/pbmr.png
./08-monte-carlo/fig/pdf.png
./08-monte-carlo/fig/pi-circle.png
./08-monte-carlo/fig/quarter-circle.png
./08-monte-carlo/fig/rej-samp1.png
./08-monte-carlo/fig/rej-samp2.png
./08-monte-carlo/fig/rej-samp3.png
./08-monte-carlo/fig/rej-samp4.png
./08-monte-carlo/fig/scattering-angle-2.png
./08-monte-carlo/fig/unif-dist-var.png
./08-monte-carlo/fig/xsec-cdf.png